/* header contact */
.contacts {
	&__link--cl-grey {
		color: var(--mein-text-color);
	}

	&__icon {
		margin-right: 10px;
		fill: currentColor;
	}
}

.contacts__txt {
	@media screen and (min-width: 768px) {
		@include fonts(500, 12px, 14px, 0.02em);
	}

	@media screen and (min-width: 1200px) {
		@include fonts(500, 14px, 16px, 0.02em);
	}
}

.contacts__item {
	@media screen and (min-width: 1200px) {
		&:not(:last-child) {
			margin-right: 30px;
		}
	}
}

.contacts__link {
	display: inline-flex;
	align-items: center;
	// padding: 32px 0;

	transition: color 250ms var(--timing-f);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.contacts--flex {
	@media screen and (max-width: 768px) {
		display: none;
	}

	@media screen and (min-width: 768px) {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}

	@media screen and (min-width: 1200px) {
		flex-direction: row;
		justify-content: normal;
		align-self: center;

		margin-left: auto;
	}
}
