.filter-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	// margin-bottom: 50px;

	@media screen and (min-width: 480px) {
		margin-bottom: 40px;
	}
}

.filter-item {
	&:not(:last-child) {
		margin-right: 8px;
	}
}
