/* logo */

.logo {
	display: flex;
	align-self: center;

	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: var(--accent-color);

	&--margin-r {
		margin-right: 93px;
	}

	&__item--black {
		color: var(--logo-txt-color);
	}
	&__item--white {
		color: var(--white-txt-color);
	}
}
