p,
h1,
h2,
h3,
h4 {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

address {
	font-style: normal;
}

.link {
	text-decoration: none;
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
}
