.clients__list {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 30px;
}

.clients__item {
	flex-basis: calc((100% - 30px) / 2);

	@media screen and (min-width: 768px) {
		flex-basis: calc((100% - 60px) / 3);
	}

	@media screen and (min-width: 1200px) {
		width: 170px;
		flex-basis: auto;
	}
}

.clients__link {
	height: 92px;

	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;

	color: var(--icon-cl);

	border: 1px solid var(--icon-cl);
	border-radius: 4px;

	transition: color 250ms var(--timing-f), border-color 250ms var(--timing-f);

	&:hover,
	&:focus {
		color: var(--accent-color);
		border-color: var(--accent-color);
	}
}

.clients__icon {
	fill: currentColor;
}
