/* hero */
.hero {
	margin: 0 auto;
	padding: 118px 0;
	background-color: var(--hero-bg-color);

	@media screen and (min-width: 1200px) {
		padding: 200px 0;
	}
}

.hero__bg {
	max-width: 1600px;
	height: 400px;

	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	@media screen and (min-width: 1200px) {
		height: 600px;
	}
}

.hero__title {
	display: block;
	max-width: 360px;
	margin: 0 auto 30px auto;

	@include fonts(900, 26px, 42px, 0.06em);
	color: var(--white-txt-color);
	text-align: center;
	text-transform: uppercase;

	@media screen and (min-width: 1200px) {
		max-width: 696px;
		@include fonts(900, 44px, 60px, null);
	}
}
