.project-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 30px;
	@media screen and (min-width: 768px) {
		flex-direction: row;
	}
}

.project-item {
	@media screen and (min-width: 768px) {
		flex-basis: calc((100% - 30px) / 2);
	}

	@media screen and (min-width: 1200px) {
		flex-basis: calc((100% - 30px * 2) / 3);
	}
}

.project-link {
	display: flex;
	flex-direction: column;
	height: 100%;

	text-decoration: none;
	transition: box-shadow 250ms var(--timing-f);

	&:hover,
	&:focus {
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	}
}

.txt-conteiner {
	flex-grow: 1;
	padding: 20px 24px;
	border: 1px solid var(--border-project-cl);
	border-top: 0;
}

.project-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;

	color: var(--text-color);
}

.project-list .text {
	font-size: 16px;
	line-height: 1.88;

	color: var(--mein-text-color);
}
