.services__icon-conteiner {
	height: 120px;

	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;

	border-radius: 4px;
	background-color: var(--bg-icon-sevices);

	@media screen and (min-width: 480px) {
		max-width: 450px;
	}

	@media screen and (min-width: 768px) {
		flex-basis: calc((100% - 30px) / 2);
	}

	@media screen and (min-width: 1200px) {
		flex-basis: calc((100% - 90px) / 4);

		&:last-child {
			margin-right: 0;
		}
	}
}

.services__list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.services__item {
	@media screen and (min-width: 480px) {
		max-width: 450px;
	}

	@media screen and (min-width: 768px) {
		flex-basis: calc((100% - 30px) / 2);
	}

	@media screen and (min-width: 1200px) {
		flex-basis: calc((100% - 90px) / 4);
	}
}

.services__title {
	margin-bottom: 10px;

	@include fonts(700, 14px, 16px, null);

	text-transform: uppercase;
	color: var(--text-color);
	text-align: center;

	@media screen and (min-width: 768px) {
		text-align: start;
	}
}

.services__text {
	line-height: 1.71;
}
